.Navigation {
  background-color: black;
  color: white;
}

.Navigation__list {
  padding: 1rem;
  list-style: none;
}

.Navigation__list__item {
  list-style: none;
}

.Navigation__link {
  color: white;
}
